<h2 mat-dialog-title>{{tituloDialog}}</h2>
<div mat-dialog-content>
    <form [formGroup]="Form_TipoTramite">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="legacy" style="width: 100%;">
                    <mat-label>Nombre del nuevo tramite</mat-label>
                    <input type="text" matInput formControlName="titulo">
                    <mat-error *ngIf="Form_TipoTramite.controls['titulo'].hasError('required')">Ingrese el titulo</mat-error>
                    <mat-error *ngIf="Form_TipoTramite.controls['titulo'].hasError('pattern')">Solo se permiten letras</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <mat-form-field appearance="legacy">
                    <mat-label>Seleccione el segmento</mat-label>
                    <mat-select formControlName="segmento">
                        <mat-option *ngFor="let seg of segmentos" [value]="seg.value">
                            {{seg.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Form_TipoTramite.controls['segmento'].hasError('required')">seleccione un segmento</mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="legacy">
                    <mat-label>Segmento</mat-label>
                    <input matInput  (ngModelChange)="Tipo_Tramite.sigla = $event.toUpperCase()">
                </mat-form-field> -->
            </div>
            <div class="col-sm">
                <mat-form-field appearance="legacy">
                    <mat-label>Sigla</mat-label>
                    <input matInput formControlName="sigla">
                    <mat-error *ngIf="Form_TipoTramite.controls['sigla'].hasError('required')">Ingrese la sigla</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<mat-divider></mat-divider>


<!-- <mat-checkbox [(ngModel)]="Tipo_Tramite.Activo" class="example-margin" name="Activo">Habilitar</mat-checkbox> -->
<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col">
        <button (click)="agregar_requisito()" mat-raised-button color="primary" style="width: 100%;"><mat-icon>add</mat-icon> Agregar requisito</button>
    </div>
    <div *ngIf="tituloDialog == 'Edicion tipo de tramite'" class="col">
        <button (click)="mostrar_Habilitados()" mat-raised-button color="primary" style="width: 100%;"><mat-icon>remove_red_eye</mat-icon> Ver {{(verHabilitados ? "No Habilitados":"Habilitados")}}</button>
    </div>
</div>
<mat-progress-bar *ngIf="spinner_carga && tituloDialog == 'Edicion tipo de tramite'" mode="indeterminate"></mat-progress-bar>
<div *ngIf="Requerimientos.length==0 && tituloDialog == 'Edicion tipo de tramite'" class="alert alert-warning" role="alert">
    No se encontraron requisitos para este tramite
</div>


<!-- Tabla de requisitos -->
<div *ngIf="Requerimientos.length>0" class="example-table-container">
    <table *ngIf="Requerimientos.length>0" #tablaRequisitos mat-table [dataSource]="Requerimientos" class="mat-elevation-z8">

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element, let i=index"> {{element.detalle}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoDoc">
            <th mat-header-cell *matHeaderCellDef> Tipo Documento</th>
            <td mat-cell *matCellDef="let element"> {{element.id_documento}} </td>
        </ng-container>
        <ng-container matColumnDef="Fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> Fecha</th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha_creacion|date}}</td>
        </ng-container>
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones</th>
            <td mat-cell *matCellDef="let element, let i=index">
                <button matTooltip="Quitar requisito" *ngIf="this.tituloDialog == 'Registro tipo de tramite'" (click)="quitar_Requisito(i)" mat-icon-button class="example-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                <button matTooltip="Deshabilitar requisito" *ngIf="this.tituloDialog == 'Edicion tipo de tramite' && element.Activo!=false" (click)="eliminar_Requisito(element)" mat-icon-button class="example-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                <button matTooltip="Habilitar requisito" *ngIf="this.tituloDialog == 'Edicion tipo de tramite' && element.Activo==false" (click)="habilitar_Requisito(element)" mat-icon-button class="example-icon">
                        <mat-icon>check_circle</mat-icon>
                    </button>
                <button matTooltip="Editar requisito" *ngIf="this.tituloDialog == 'Edicion tipo de tramite'" (click)="editar_Requisito(element)" mat-icon-button class="example-icon">
                        <mat-icon>edit</mat-icon>
                    </button>


            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No existen requerimientos</td>
        </tr>
    </table>

</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-raised-button (click)="registrar_datos()" color="primary" [disabled]="!Form_TipoTramite.valid">Guardar</button>
</div>