table {
    width: 100%;
}

.example-table-container {
    position: relative;
    min-height: 100px;
    max-height: 150px;
    overflow: auto;
}

.mat-column-opciones {
    width: 120px;
}

.mat-column-descripcion {
    /* max-width: 50px; */
    font-size: 12px;
}

.mat-column-Fecha_creacion {
    /* max-width: 50px; */
    width: 100px;
}