<div class="row g-0">
    <div class="col-md-6 g-0">
        <div class="leftside">
            <p>
                <mat-toolbar>
                    <ng-container *ngIf="modo_busqueda==false">
                        <span>Total: {{Tramites_Recibidos.length}}</span>
                        <span class="example-spacer"></span>
                        <button (click)="recargar()" matTooltip="Recargar" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                            <mat-icon>refresh</mat-icon>
                        </button>

                        <ng-container *ngIf="Tramites_Recibidos.length>0">
                            <button [matMenuTriggerFor]="menu" matTooltip="Filtro" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                                <mat-icon>filter_alt</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="filtrar_listado('nuevos')">Nuevos</button>
                                <button mat-menu-item (click)="filtrar_listado('aceptados')">Aceptados</button>
                                <button mat-menu-item (click)="filtrar_listado('todos')">Todos</button>
                            </mat-menu>
                            <button (click)="activar_busqueda()" matTooltip="Busqueda" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                                <mat-icon>search</mat-icon>
                            </button>
                        </ng-container>

                    </ng-container>



                    <mat-form-field *ngIf="modo_busqueda==true" floatLabel="never" style="width: 100%;">
                        <mat-label>Buscar</mat-label>
                        <input matInput type="text" #txt_busqueda (keyup)="applyFilter($event)">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="txt_busqueda.value=''; desactivar_busqueda()">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-toolbar>
            </p>
            <p *ngIf="Tramites_Recibidos.length<=0" style="text-align: center;">No se ha recibido ningun tramite</p>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let mail of Tramites_Recibidos; let i=index" [value]="mail" (click)="ver_fichaTramite(mail, i)">
                    <img matListAvatar src="../../../../assets/img//user-mail.png">
                    <h1 matLine>
                        <span>{{mail.Nombre}}</span>
                        <span *ngIf="mail.Recibido!=true" style="margin-left: 10px;" class="badge bg-danger">Nuevo</span>
                        <!-- <span style="font-size: 10px;"> ({{mail.NombreCargo}}) </span> -->
                        <span style="font-size: 12px; position:absolute; right:20px;">{{mail.Fecha_Envio|date}}</span>
                    </h1>
                    <p matLine>
                        <span class="fw-bold">Tramite: </span>
                        <span style="color: cornflowerblue">{{mail.Titulo}} - {{mail.Alterno}} </span>
                    </p>
                    <p matLine>
                        Mensaje:
                        <span class="text-muted"> {{mail.Mensaje}} </span>
                    </p>
                    <mat-divider></mat-divider>
                </mat-list-option>
            </mat-selection-list>

        </div>
    </div>
    <div class="col-md-6 g-0">
        <div class="rightside">
            <p *ngIf="datosFicha==null" style="margin-top: 40%; text-align: center;" class="fs-2">Seleccione un tramite.</p>
            <app-ficha-tramite *ngIf="datosFicha" [DatosEnvio]="datosFicha" style="height: 100%; width: 100%;" [tipoBandeja]="'entrada'" (Actualizar_listaRecibidos)="actualizar_lista_recibidos($event)"></app-ficha-tramite>

        </div>
    </div>
</div>