.lista-recibidos {
    /* background-color: aqua; */
    /* width: 100%; */
    /* height: 400px; */
    height: 80vh;
    overflow-y: scroll;
    /* padding: 20px 0 20px 20px; */
}

.panel-ficha {
    /* margin: 10px; */
    /* width: 100%; */
    height: 85vh;
    overflow-y: scroll;
}

.contenido {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.example-spacer {
    flex: 1 1 auto;
}

.leftside,
.rightside {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width:768px) {
    .leftside,
    .rightside {
        height: 75vh;
    }
}

.leftside {
    /* background: red; */
}

.rightside {
    /* background: blue; */
    overflow-y: scroll;
}