<app-navegacion></app-navegacion>
<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>USUARIOS</span>
    <span class="example-spacer"></span>

    <mat-form-field appearance="legacy">
        <input matInput #input (keyup)="aplicarFiltro($event)" placeholder="Buscar">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="agregar_Funcionario()">
              <mat-icon>add_circle</mat-icon>
              Agregar institucion
        </button>
        <button mat-menu-item *ngIf="TipoTabla!=''" (click)="verHabilitados=!verHabilitados;ver_Habilitados()">
            <mat-icon>add_circle</mat-icon>
            {{tituloOpcionVista}}
      </button>
    </mat-menu>

</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">
        <mat-list role="list">
            <a mat-list-item (click)="Cargar_tablaCuentas()">cargar cuentas</a>
            <a mat-list-item (click)="Cargar_tablaFuncionarios()">cargar funcioanrios</a>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <app-tabla *ngIf="mostrarTabla" (llamarEditar)="actualizarUsuario($event)" (llamarEliminar)="eliminarUsuario($event)" (llamarVerDetalles)="obtenerDetallesFuncionario($event)" [palabraFiltro]="input.value" [data]="dataSource" [displayedColumns]="displayedColumns"
                [TiposOpciones]="OpcionesTabla" (llamarFinalizar)="FinalizarCargo($event)"></app-tabla>

        </div>

    </mat-drawer-content>
</mat-drawer-container>