<app-navegacion></app-navegacion>

<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 15px;">USUARIOS: {{TipoTabla}}</span>
    <span class="example-spacer"></span>

    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" matTooltip="Mas opciones">
        <mat-icon>apps</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="agregar_Funcionario()">
              <mat-icon>add_circle</mat-icon>
              Agregar funcionario
        </button>
        <button mat-menu-item *ngIf="TipoTabla!=''" (click)="ver_Habilitados()">
            <mat-icon>no_accounts</mat-icon>
            Ver {{(verHabilitados ? "No Habilitados":"Habilitados")}}
        </button>
    </mat-menu>

</mat-toolbar>


<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="over" class="panel">
        <mat-nav-list class="nav-list">
            <div class="nav-item">
                <a class="nav-link" mat-list-item (click)="Cargar_tablaFuncionarios()">
                    <mat-icon class="nav-icon">people</mat-icon>
                    Funcionarios
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" mat-list-item (click)="Cargar_tablaCuentas()">
                    <mat-icon class="nav-icon">assignment_ind</mat-icon>
                    Cuentas
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <mat-form-field appearance="standard">
                <mat-label>Buscar usuario</mat-label>
                <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ingrese un caracter.." #input>
            </mat-form-field>
            <app-tabla *ngIf="mostrarTabla" (llamarEditar)="editar_Funcionario($event)" (llamarEliminar)="eliminarUsuario($event)" (llamarVerDetalles)="obtenerDetallesFuncionario($event)" [data]="dataSource" [displayedColumns]="displayedColumns" [TiposOpciones]="OpcionesTabla"
                (llamarFinalizar)="FinalizarCargo($event)"></app-tabla>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>