<h1 mat-dialog-title>Detalles Funcionario</h1>

<div mat-dialog-content *ngIf="detalles_Funcionario">

    <p style=" margin-bottom: 20px; text-align: center;">
        {{detalles_Funcionario.Nombre}} <span>({{detalles_Funcionario.Cargo}})</span>

    </p>

    <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="Fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.fecha | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Detalle">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Suceso </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.detalle|uppercase}} EL CARGO</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Cargo">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Cargo</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.NombreCar}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>
<p *ngIf="!detalles_Funcionario" style="text-align: center;">Sin registros</p>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</div>