<div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="data">
        <ng-container [matColumnDef]=datosCelda.key *ngFor="let datosCelda of displayedColumns">

            <th mat-header-cell *matHeaderCellDef> {{datosCelda.titulo}} </th>
            <td mat-cell *matCellDef="let element; let i=index" [ngSwitch]="datosCelda.key">
                <ng-container *ngSwitchCase="'Nro'">{{i+1}}</ng-container>

                <ng-container *ngSwitchCase="'Activo'">
                    <div *ngIf="element[datosCelda.key]==true || element[datosCelda.key]=='1'">
                        SI
                    </div>
                    <div *ngIf="element[datosCelda.key]==false || element[datosCelda.key]=='0'">
                        NO
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'Fecha_creacion'">
                    {{element[datosCelda.key] |date}}
                </ng-container>
                <ng-container *ngSwitchCase="'estado'">
                    <span class="badge bg-primary">{{element[datosCelda.key] }}</span>
                </ng-container>

                <ng-container *ngSwitchCase="'Fecha_actualizacion'">
                    {{element[datosCelda.key] |date}}
                </ng-container>
                <ng-container *ngSwitchDefault>{{element[datosCelda.key]}}</ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="Opciones">
            <th mat-header-cell *matHeaderCellDef>Opciones</th>
            <td mat-cell *matCellDef="let row; let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Mostrar opciones"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">

                    <button *ngIf="TiposOpciones.includes('Editar')" (click)="editarDatos(element)" mat-menu-item> <mat-icon>edit</mat-icon> Editar datos</button>
                    <button *ngIf="TiposOpciones.includes('VerDetalles')" (click)="verDetallesUsuario(element)" mat-menu-item color="primary"> <mat-icon>info</mat-icon>Detalles cargos</button>
                    <button *ngIf="TiposOpciones.includes('Eliminar')" (click)="eliminarDatos(element)" mat-menu-item color="warn"> <mat-icon>delete</mat-icon>Eliminar registro</button>
                    <button *ngIf="TiposOpciones.includes('Finalizar')" (click)="finalizarCargo(element)" mat-menu-item> <mat-icon>no_accounts</mat-icon>Desvincular cuenta</button>
                    <button *ngIf="TiposOpciones.includes('Imprimir')" (click)="imprimirFicha(element)" mat-menu-item matTooltip="Imprimir ficha"> <mat-icon>print</mat-icon> Imprimir</button>
                    <button *ngIf="TiposOpciones.includes('Remitir')" (click)="remitir(element)" mat-menu-item> <mat-icon>send</mat-icon>Remitir</button>
                    <button *ngIf="TiposOpciones.includes('Revisar')" (click)="revisar(element)" mat-menu-item> <mat-icon>visibility</mat-icon>Ver informacion</button>
                    <button *ngIf="TiposOpciones.includes('VerFlujo')" (click)="verFlujoTrabajo(element)" mat-menu-item> <mat-icon>group_work</mat-icon>Flujo de trabajo</button>
                </mat-menu>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="TitulosTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: TitulosTabla;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se econtraron registros con: "{{palabraFiltro}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>