table {
    width: 100%;
}

.texto_celda_Nombre {
    font-size: 12px;
}

.texto_celda_DepInst {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


/* .mat-table {
    height: calc( 100vh - 250px);
    overflow: auto;
    width: 100%;
} */

.example-header-image {
    background-image: url('../../../assets/img/user-mail.png');
    background-size: cover;
}

.example-card {
    max-width: 300px;
}

.mat-card {
    border: 1px solid #000;
}