table {
    width: 100%;
}

.example-header-image {
    background-image: url('../../../assets/img/user-mail.png');
    background-size: cover;
}

.example-card {
    max-width: 300px;
}

.mat-card {
    border: 1px solid #000;
}

.nodo_grafica {
    background-color: silver;
}