<app-navegacion></app-navegacion>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Flujo de trabajo">
        <!-- <div class="container"> -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Emisor">
                <th mat-header-cell *matHeaderCellDef> Emisor</th>
                <td mat-cell *matCellDef="let element">
                    <div matLine class="texto_celda_Nombre">{{element.NombreEmi}}</div>
                    <div matLine class="texto_celda_DepInst">{{element.NombreInstEmi}} - {{element.NombreDepEmi}}</div>

                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Receptor">
                <th mat-header-cell *matHeaderCellDef> Receptor </th>
                <td mat-cell *matCellDef="let element">
                    <div matLine class="texto_celda_Nombre">{{element.NombreRecep}}</div>
                    <div matLine class="texto_celda_DepInst">{{element.NombreInstRecep}} - {{element.NombreDepRecep}}</div>

                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Detalle">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Enviado">
                <th mat-header-cell *matHeaderCellDef> Fecha emision </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_envio|date:'MMM d, y, h:mm:ss a'}} </td>
            </ng-container>
            <ng-container matColumnDef="Recibido">
                <th mat-header-cell *matHeaderCellDef> Fecha recepcion </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha_recibido|date:'MMM d, y, h:mm:ss a'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- </div> -->


    </mat-tab>



    <mat-tab label="Flujo de trabajo grafico">
        <!-- Caberceras -->

        <!-- fin Caberceras -->
        <mat-grid-list cols="3" rowHeight="50px">
            <mat-grid-tile rowspan="1" colspan="2">
                <button mat-button color="primary" class="button" (click)="center$.next(true)">Centrar</button>
                <button mat-button [matMenuTriggerFor]="menu">Tipo grafica</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let l of layouts" (click)="setLayout(l.value)">{{l.label}}</button>
                </mat-menu>
            </mat-grid-tile>
            <mat-grid-tile rowspan="1" colspan="1">
                <p *ngIf="info_Tramite" class="fw-bold">Estado tramite: <span class="badge bg-primary">{{info_Tramite.estado|uppercase}}</span></p>
            </mat-grid-tile>
            <mat-grid-tile rowspan="10" colspan="2" style="background-color: gray">
                <ngx-graph class="chart-container" [view]="[750, 350]" [links]="links" [nodes]="nodos" [layout]="layout" [nodeWidth]="300" [nodeHeight]="110" [showMiniMap]="true" [center$]="center$" style="background-color:azure">
                    <ng-template #defsTemplate>
                        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                        </svg:marker>
                    </ng-template>
                    <ng-template #nodeTemplate let-node>
                        <svg:g class="node" width="300" height="150" (click)="hacerAlgo(node.data)">
                            <!-- NODO RECTANGULOS BASICOS -->
                            <!-- <ng-template #nodeTemplate let-node>
                                    <svg:g class="node" (click)="click(node.data)">
                                        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
                                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                            {{node.data.NombreCar}} {{node.data.NombreDep}}
                                            <tspan x="10" dy="0">{{node.data.NombreCar}} </tspan>
                                            <tspan x="10" dy="15">{{node.data.NombreDep}} </tspan>
                                        </svg:text>
                                    </svg:g>
                                </ng-template> -->
                            <svg:foreignObject width="300" height="150">
                                <!-- <div class="card border-dark mb-3" style="max-width: 300px;">
                                    <div class="row g-0">
                                        <div class="col-md-2">
                                            <img src="../../../assets/img/user-mail.png" class="img-fluid rounded-start" style="width: 100%;">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <h5 class="card-title">{{node.data.Nombre|uppercase}} {{node.data.Apellido_P|uppercase}} {{node.data.Apellido_M|uppercase}}</h5>
                                                <footer class="blockquote-footer">{{node.data.NombreCar}}</footer>
                                                <p class="card-text"><small class="text-muted"><strong>Dependencia</strong> {{node.data.NombreDep}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <mat-card class="example-card">
                                    <mat-card-header>
                                        <div mat-card-avatar class="example-header-image"></div>
                                        <mat-card-title style="font-size: 16px;">{{node.data.Nombre}} {{node.data.Apellido_P}} {{node.data.Apellido_M}}</mat-card-title>
                                        <mat-card-subtitle>{{node.data.NombreCar}}</mat-card-subtitle>

                                    </mat-card-header>

                                    <mat-card-content>
                                        <p class="card-text"><small class="text-muted"><strong>Dependencia</strong> {{node.data.NombreDep}}</small></p>
                                    </mat-card-content>
                                </mat-card>

                            </svg:foreignObject>
                        </svg:g>
                    </ng-template>
                    <ng-template #linkTemplate let-link>
                        <svg:g class="edge">
                            <svg:path class="line" stroke-width="5" marker-end="url(#arrow)"></svg:path>
                            <svg:text class="edge-label" text-anchor="middle">
                                <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                    {{link.label}}
                                </textPath>
                            </svg:text>
                        </svg:g>
                    </ng-template>
                </ngx-graph>
            </mat-grid-tile>


            <mat-grid-tile rowspan="4" colspan="1">
                <div class="card" *ngIf="info_Tramite" style="width: 90%;">
                    <div class="card-header">
                        Descripcion del tramite
                    </div>
                    <div class="card-body" style="line-height:16px">
                        <p class="card-text"><strong>Codigo: </strong>{{info_Tramite.alterno}} </p>
                        <p class="card-text"><strong>Descripcion: </strong>{{info_Tramite.detalle}}</p>
                        <p class="card-text"><strong>Registrado en fecha: </strong>{{info_Tramite.Fecha_creacion|date}}</p>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile rowspan="6" colspan="1" style="border: 3px solid green;  overflow-y: scroll;">
                <div class="card" *ngIf="info_User" style="width: 90%;">
                    <div class="card-header">
                        Informacion usuario
                    </div>
                    <div class="card-body" style="line-height:12px">
                        <p class="card-text"><strong>Funcionario </strong>{{info_User.Nombre}} {{info_User.Apellido_P}} {{info_User.Apellido_M}} </p>
                        <p *ngIf="info_User.tiempo_empleado" class="card-text"><strong>Tiempo empleado: </strong>{{info_User.tiempo_empleado.tiempo}} {{info_User.tiempo_empleado.formato}}</p>

                        <ul class="list-group">
                            <li *ngFor="let item of observacione_user" class="list-group-item d-flex justify-content-between align-items-center">
                                {{item.detalle}}
                                <!-- <span class="badge bg-primary rounded-pill">14</span> -->
                            </li>

                        </ul>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>

    </mat-tab>
</mat-tab-group>