.mat-toolbar {
    background-color: #25292a;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.body {
    background-image: url('../../../../assets/img/logoSacaba.png');
}

#img1,
#img2 {
    min-width: 10px;
    max-height: 200px;
}