<h2 mat-dialog-title>Registro de observaciones</h2>
<mat-dialog-content>

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Observacion</label>
            <input type="text" class="form-control" name="observacion" [(ngModel)]="data">
            <div id="emailHelp" class="form-text">Las observaciones seran vistas por los solicitantes</div>
        </div>

    </form>


</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Agregar</button>
</mat-dialog-actions>