<p>
    <mat-toolbar>
        <ng-container *ngIf="!modo_busqueda">
            <span>Administracion dependencias</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   
        </button>
            <button mat-icon-button matTooltip="Agregar institucion" class="example-icon" aria-label="Example icon-button with share icon" (click)="agregar_Dependencia()">
                <mat-icon>add</mat-icon>
        </button>
            <button (click)="modo_busqueda=true" mat-icon-button matTooltip="Buscar institucion" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>search</mat-icon>
              </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="  ver_Habilitados()">
              <mat-icon>visibility</mat-icon>
              <span>Ver {{verHabilitados?'Habilidatos':'No habilitados'}}</span>
            </button>

            </mat-menu>

        </ng-container>


        <mat-form-field *ngIf="modo_busqueda" floatLabel="never">

            <mat-label>Ingrese un caracter</mat-label>
            <input matInput type="search" #txt_busqueda (keyup)="aplicarFiltro($event)">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="desactivar_busqueda()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

    </mat-toolbar>
</p>

<div class="container-fluid">
    <mat-progress-bar *ngIf="spiner_carga" mode="indeterminate"></mat-progress-bar>
    <app-tabla [data]="dataSource" [displayedColumns]="displayedColumns" [TiposOpciones]="OpcionesTabla" (llamarEliminar)="eliminar_Dependencia($event)" (llamarEditar)=" editar_Dependecia($event)" (llamarHabilitar)=" habilitar_Institucion($event)"></app-tabla>
</div>