.example-card {
    margin-top: 20px;
}

.example-header-image {
    background-image: url('../../../../assets/img/user-mail.png');
    background-size: cover;
}

.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

mat-icon {
    vertical-align: middle;
}