<h2 mat-dialog-title>Detalles Funcionario</h2>
<div>
    <p matLine style=" text-align: center;">
        <img class="logouser" src="../../../../../assets/img/user-mail.png" alt=""> {{data.Nombre|titlecase }} {{data.Apellido_P|titlecase }} {{data.Apellido_M|titlecase }}

    </p>
</div>

<div mat-dialog-content *ngIf="dataSource.data.length>0">
    <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="Fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.fecha | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Detalle">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Suceso </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.detalle|uppercase}} EL CARGO</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Cargo">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Cargo</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.NombreCar}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>
<div *ngIf="dataSource.data.length==0" class="alert alert-warning" role="alert">
    El funcionario no ha adquirido ningun cargo
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</div>