<h1 mat-dialog-title>{{tituloDialog}}</h1>

<div mat-dialog-content>
    <form [formGroup]="Form_Cargo">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="Nombre">
        </mat-form-field>
    </form>

</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="cerrarDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="registrar_datos()" [disabled]="Form_Cargo.invalid!">Guardar</button>
</div>