<h1 mat-dialog-title>{{tituloDialog}}</h1>
<div mat-dialog-content>

    <mat-stepper #stepper linear>
        <mat-step label="Funcionario">
            <form>
                <!-- Contenido creacion funcionario -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field appearance="legacy">
                                <mat-label>Nombre</mat-label>
                                <input matInput [(ngModel)]="data.datosFuncionario.Nombre" name="Nombre">
                            </mat-form-field>


                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy">
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput [(ngModel)]="data.datosFuncionario.Apellido_P" name="ApellidoM">
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy">
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput [(ngModel)]="data.datosFuncionario.Apellido_M" name="ApellidoP">
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy">
                                <mat-label>DNI</mat-label>
                                <input matInput [(ngModel)]="data.datosFuncionario.Dni" name="Dni">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <mat-form-field appearance="legacy">
                                <mat-label>Lugar</mat-label>
                                <mat-select [(ngModel)]="data.datosFuncionario.Expedido" name="Expedido">
                                    <mat-option *ngFor="let lugar of Expedido" [value]="lugar.Abreviacion">
                                        {{lugar.NombreLugar}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy">
                                <mat-label>Telefono</mat-label>
                                <input matInput [(ngModel)]="data.datosFuncionario.Telefono" name="Telefono">
                            </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <mat-form-field appearance="legacy">
                                <mat-label>Direccion</mat-label>
                                <input matInput [(ngModel)]="data.datosFuncionario.Direccion" name="Direccion">
                            </mat-form-field>
                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                </div>
                <ng-container *ngIf="mostrar_opcion_habilitar">
                    <mat-checkbox [(ngModel)]="data.datosFuncionario.Activo" class="example-margin" name="Activo">HABILITAR</mat-checkbox>
                </ng-container>
            </form>
        </mat-step>

        <mat-step label="Cuenta">
            <form>

                <!-- CUENTA OPCIONES -->
                <div *ngIf="TipoRegistroCuenta=='Nueva cuenta'">
                    <div>
                        <!-- MENU OPCIONES SELECION DE TIPO REGISTRO CUENTA -->
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle (click)="RegistroCuenta('Crear')">Agregar Cuenta</mat-button-toggle>
                            <mat-button-toggle (click)="RegistroCuenta('Asignar')">Asignar Cuenta</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div *ngIf="TipoRegistroCuenta=='Editar cuenta'">
                    <div *ngIf="PoseeCuenta==true">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="../../../../assets/img-Administracion Usuarios/user-logo.png" style="width: 100px; height: 100px;" class="center">
                                </div>
                                <div class="col-sm">
                                    <p>Asignado: <span style="font-style: italic;">{{data.datosFuncionario.Nombre|uppercase }} {{data.datosFuncionario.Apellido_P|uppercase}} {{data.datosFuncionario.Apellido_M|uppercase}}</span></p>
                                    <p>Creacion: {{DetallesCuenta.FechaA |date}} </p>
                                    <p>Actualizacion: {{DetallesCuenta.FechaC|date}}</p>
                                    <p>
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Login</mat-label>
                                            <input matInput [(ngModel)]="data.datosCuenta.login" name="Login">
                                        </mat-form-field>
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Nueva contraseña</mat-label>
                                            <input matInput [(ngModel)]="data.datosCuenta.Password" type="password" name="Password">
                                        </mat-form-field>
                                    </p>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div *ngIf="PoseeCuenta==false">
                        <p style="color: red;">El funcionario no tiene una cuenta</p>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle (click)="RegistroCuenta('Crear')">Agregar Cuenta</mat-button-toggle>
                            <mat-button-toggle (click)="RegistroCuenta('Asignar')">Asignar Cuenta</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                </div>


                <!-- CREACION CUENTA -->
                <div [ngSwitch]="data.Tipo_Registro">
                    <div *ngSwitchCase="'Crear'">

                        <mat-form-field appearance="legacy">
                            <mat-label>Login</mat-label>
                            <input matInput [(ngModel)]="data.datosCuenta.login" name="Login">
                        </mat-form-field>

                        <mat-form-field appearance="legacy">
                            <mat-label>Password</mat-label>
                            <input matInput [(ngModel)]="data.datosCuenta.password" type="password" name="Password">
                        </mat-form-field>

                        <mat-form-field appearance="legacy">
                            <mat-label>Seleccione la institucion</mat-label>
                            <mat-select [(ngModel)]="data.id_institucion" name="id_institucion">
                                <mat-option *ngFor="let opcion of InstiActivos" [value]="opcion.id_institucion" (click)="obtener_dep_deInstitucion(opcion.id_institucion)">
                                    {{opcion.Nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="legacy">
                            <mat-label>Seleccione la dependencia</mat-label>
                            <mat-select [(ngModel)]="data.id_dependencia" name="id_dependencia">
                                <mat-option *ngFor="let opcion of DepdeInstitucion" [value]="opcion.id_dependencia">
                                    {{opcion.Nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="legacy">
                            <mat-label>Seleccione el cargo</mat-label>
                            <mat-select [(ngModel)]="data.datosCuenta.id_cargo" name="Cargo">
                                <mat-option *ngFor="let opcion of CargosActivos" [value]="opcion.id_cargo">
                                    {{opcion.Nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- ASIGNACION CUENTA -->
                    <div *ngSwitchCase="'Asignar'">
                        <mat-form-field class='filtro' appearance="standard">
                            <mat-label>Filtro</mat-label>
                            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Texto a buscar...." #input>
                        </mat-form-field>

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="Cuenta">
                                <th mat-header-cell *matHeaderCellDef> Login </th>
                                <td mat-cell *matCellDef="let element"> {{element.login}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Cargo">
                                <th mat-header-cell *matHeaderCellDef> Cargo </th>
                                <td mat-cell *matCellDef="let element"> {{element.NombreCar}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Institucion">
                                <th mat-header-cell *matHeaderCellDef> Institucion </th>
                                <td mat-cell *matCellDef="let element"> {{element.SiglaInst}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Dependencia">
                                <th mat-header-cell *matHeaderCellDef> Dependencia </th>
                                <td mat-cell *matCellDef="let element"> {{element.NombreDep}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Opciones">
                                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button color="warn" (click)="AsignarCuenta(element)">Asignar</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se econtraron coicidencias con: "{{input.value}}"</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>

        </mat-step>
        <mat-step label="Permisos" *ngIf="TipoRegistroCuenta!='Editar cuenta'">
            <mat-selection-list #shoes [multiple]="false" [(ngModel)]="data.Tipo">
                <mat-list-option *ngFor="let tipo of Tipo_Permisos" [value]="tipo.value" name="permisos">
                    {{tipo.viewValue|uppercase}}
                </mat-list-option>
            </mat-selection-list>

            <p style="margin-top: 10px;">
                Los permisos de la cuenta seran de: {{shoes.selectedOptions.selected[0]?.value|uppercase}}
            </p>

        </mat-step>
    </mat-stepper>

</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>