table {
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer {
    /*panel izquierdo*/
    margin: 16px;
    width: 250px;
    border-right: none;
    background: #212529;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.mat-drawer-container {
    height: calc(100vh - 65px);
}

.nav-icon {
    margin-right: 10%;
}

.active-list-item {
    color: red;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.nav-icon,
.nav-link {
    color: white;
}