<app-navegacion></app-navegacion>

<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 16px;">CONFIGURACIONES: {{TipoTabla}}</span>
    <span class="example-spacer"></span>


    <button *ngIf="TipoTabla!=''" [matMenuTriggerFor]="menu" mat-icon-button class="example-icon">
        <mat-icon>apps</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button *ngIf="TipoTabla=='Instituciones'" mat-menu-item (click)="agregar_Institucion()">
              <mat-icon>add_circle</mat-icon>
              Agregar institucion
        </button>
        <button *ngIf="TipoTabla=='Dependencias'" mat-menu-item (click)="agregar_Dependencia()">
            <mat-icon>add_circle</mat-icon>
            Agregar dependencia
        </button>
        <button *ngIf="TipoTabla=='Cargos'" mat-menu-item (click)="agregar_Cargo()">
            <mat-icon>add_circle</mat-icon>
            Agregar cargo
        </button>
        <button *ngIf="TipoTabla=='Tramites'" mat-menu-item (click)="agregar_Tramite()">
            <mat-icon>add_circle</mat-icon>
            Agregar Tipo de Tramite
        </button>
        <button *ngIf="TipoTabla=='Tramites'" mat-menu-item (click)="alternarVista_TiposTramite()">
            <mat-icon>remove_red_eye</mat-icon>
            Ver {{(verHabilitados ? "No Habilitados":"Habilitados")}}
        </button>
        <button mat-menu-item *ngIf="TipoTabla!='Tramites'" (click)="ver_Habilitados()">
            <mat-icon>remove_red_eye</mat-icon>
            Ver {{(verHabilitados ? "No Habilitados":"Habilitados")}}
        </button>

    </mat-menu>

</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="over" class="panel">
        <mat-nav-list class="nav-list">
            <div class="nav-item">
                <a class="nav-link" mat-list-item (click)="generar_tabla_Intituciones()">
                    <mat-icon class="nav-icon">apartment</mat-icon>
                    Instituciones
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" mat-list-item (click)="generar_tabla_Dependencias()">
                    <mat-icon class="nav-icon">maps_home_work</mat-icon>
                    Dependencias
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" mat-list-item (click)="generar_tabla_Cargos()">
                    <mat-icon class="nav-icon">assignment_ind</mat-icon>
                    Cargos
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" mat-list-item (click)="AdministrarTramites()">
                    <mat-icon class="nav-icon">description</mat-icon>
                    Tramites
                </a>
            </div>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <mat-form-field appearance="legacy" *ngIf="TipoTabla && TipoTabla!='Tramites'">
                <input matInput #input (keyup)=" aplicarFiltro($event) " placeholder="Buscar en {{TipoTabla}} ">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <app-tabla *ngIf="mostrarTabla " [data]="dataSource " [displayedColumns]="displayedColumns " (llamarEditar)="editar_Datos($event)" (llamarEliminar)="eliminar_Datos($event)" [TiposOpciones]="OpcionesTabla "></app-tabla>
            <app-tramites-requisitos *ngIf="TipoTabla=='Tramites' " [eventoAgregar]="eventsSubject.asObservable()" [eventoVer]="eventsSubject2.asObservable()"></app-tramites-requisitos>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>