<p>
    <mat-toolbar>
        <ng-container *ngIf="!modo_busqueda">
            <span>Cuentas</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            </button>
            <button (click)="modo_busqueda=true" mat-icon-button matTooltip="Buscar funcionario" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>search</mat-icon>
            </button>

        </ng-container>
        <mat-form-field *ngIf="modo_busqueda" floatLabel="never">

            <mat-label>Ingrese un caracter</mat-label>
            <input matInput type="search" #txt_busqueda (keyup)="aplicarFiltro($event)">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="desactivar_busqueda()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-toolbar>
</p>
<div class="container-fluid">
    <mat-progress-bar *ngIf="spiner_carga" mode="indeterminate"></mat-progress-bar>
    <app-tabla [data]="dataSource" [data]="dataSource" [displayedColumns]="displayedColumns" [TiposOpciones]="OpcionesTabla" (llamarFinalizar)="FinalizarCargo($event)"></app-tabla>

</div>