<app-toolbar [titulo]="'cargo'" (llamarAgregar)="registrarCargo()"></app-toolbar>
<div class="container">
    <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="aplicarFiltro($event, opcionElim.checked)" placeholder="Ingrese el nombre o sigla" #input>
    </mat-form-field>
    <mat-slide-toggle #opcionElim [(ngModel)]='checked' (change)="mostrarNoHabilitados()">Mostrar No habilitiados</mat-slide-toggle>

    <app-tabla [data]="dataSource" (llamarEditar)="editarCargo($event)" [displayedColumns]="displayedColumns" [TiposOpciones]="['Editar', 'Eliminar']"></app-tabla>

</div>