<div class="container">
    <mat-form-field appearance="standard">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label>Buscar tipo tramite</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ingrese un caracter" #input>
    </mat-form-field>
    <app-tabla [data]="dataSource" [displayedColumns]="displayedColumns" [TiposOpciones]="OpcionesTabla" (llamarEliminar)="eliminar_TipoTramite($event)" (llamarEditar)="editar_TipoTramite($event)"></app-tabla>
</div>