<div class="header" matLine>
    <h2 mat-dialog-title>Remision tramite</h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="legacy">
                    <mat-label>Seleccione la institucion</mat-label>
                    <mat-select #txtInsti>
                        <mat-option *ngFor="let inst of instituciones" (click)="obtener_DependenciasInst(inst.id_institucion!)" [value]="inst.id_institucion">
                            {{inst.Nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="legacy">
                    <mat-label>Seleccione la Dependencia</mat-label>
                    <mat-select #txtDep>
                        <mat-option *ngFor="let dep of dependencias" (click)="obtener_users_desconectados(txtInsti.value, txtDep.value)" [value]="dep.id_dependencia">
                            {{dep.Nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-progress-bar *ngIf="spiner_carga" mode="indeterminate"></mat-progress-bar>
    <form class="row g-3">

        <div class="col-12">
            <label for="inputAddress" class="form-label">Funcionario que recibira el tramite</label>
            <mat-form-field class="example-full-width" appearance="outline" dis>
                <mat-label>Nombre y cargo del funcionario</mat-label>
                <input matInput aria-label="State" #txt_UserRecep [matAutocomplete]="auto" [formControl]="stateCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let user of filteredStates | async" (click)="seleccionar_User(user)" [value]="user.Nombre+' '+user.Apellido_P+' '+user.Apellido_M+' ('+user.NombreCar+')'">
                        <img matListAvatar src="../../../../../assets/img/user-mail.png" alt="..." height="25">
                        <span style="margin-left: 10px; font-size: 12px;">{{user.Nombre | titlecase}} {{user.Apellido_P| titlecase}} {{user.Apellido_M| titlecase}}</span> (<small style="font-size:11px ;">{{user.NombreCar}}</small>)
                        <span *ngIf="user.id" style="font-size: 12px; position:absolute; right:20px; color: green;">En linea</span>
                        <span *ngIf="!user.id" style="font-size: 12px; position:absolute; right:20px; color: red;">Sin conexion</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>


        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Tramite a enviar</label>
            <input type="email" disabled class="form-control" id="inputEmail4" [value]="data.Titulo">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Alterno</label>
            <input type="text" disabled class="form-control" id="inputPassword4" [value]="data.Alterno">
        </div>

    </form>


</mat-dialog-content>

<mat-dialog-actions>
    <div class="input-group">
        <input class="form-control" placeholder="Ingrese una descripcion" [(ngModel)]="data.Mensaje">
        <button align="end" [disabled]="!Info_UserReceptor" mat-raised-button color="primary" (click)="Enviar_Tramite()"> Enviar</button>
    </div>

</mat-dialog-actions>