<p>
    <mat-toolbar>
        <span>Administracion {{titulo }}</span>
        <span class="example-spacer"></span>

        <form class="example-form">
            <mat-form-field appearance="fill">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Buscar..">
            </mat-form-field>
        </form>
        <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="agregar()" matTooltip="Registrar {{titulo}}">
                <mat-icon>add_circle</mat-icon>
                Agregar {{titulo}}
            </button>
            <button mat-menu-item (click)="VerNoActivos()">
                <mat-icon>visibility</mat-icon>
                {{tituloVista}}
            </button>
        </mat-menu>

    </mat-toolbar>

</p>