<p>
    <mat-toolbar>
        <ng-container *ngIf="!modo_busqueda">
            <span>Administrar Tramites</span>
            <span class="example-spacer"></span>
            <button (click)="modo_busqueda=true" mat-icon-button matTooltip="Buscar tramite" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>search</mat-icon>
        </button>
            <button mat-icon-button matTooltip="Registrar tramite" (click)="registrar_Tramite()" class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>add</mat-icon>
        </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="estados">
                    <mat-icon>preview</mat-icon>
                    <span>Ver tramite</span>
                </button>

            </mat-menu>
            <mat-menu #estados="matMenu">
                <button mat-menu-item (click)="agrupar_tramites('En revision')">En revision</button>
                <button mat-menu-item (click)="agrupar_tramites('Observado')">Observados</button>
                <button mat-menu-item (click)="agrupar_tramites('Concluido')">Concluidos</button>
                <button mat-menu-item (click)="agrupar_tramites('Inscrito')">Inscritos</button>
                <button mat-menu-item (click)="agrupar_tramites('Anulado')">Anulados</button>
                <button mat-menu-item (click)="agrupar_tramites('Todos')">Todos</button>
            </mat-menu>


        </ng-container>

        <mat-form-field *ngIf="modo_busqueda" floatLabel="never">

            <mat-label>Ingrese un caracter</mat-label>
            <input matInput type="search" #txt_busqueda (keyup)="aplicarFiltro($event)">
            <button matSuffix mat-icon-button aria-label="Clear" (click)="desactivar_busqueda()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

    </mat-toolbar>
</p>
<div class="container-fluid">
    <mat-progress-bar *ngIf="carga_spiner" mode="indeterminate"></mat-progress-bar>

    <app-tabla #table [data]="dataSource" [displayedColumns]="displayedColumns" [TiposOpciones]="opcionesTabla" (llamarImprimir)="imprimir_ficha($event)" (llamarEditar)="editar_tramite($event)" (llamarRemision)="abrir_DialogRemision($event)" (llamarRevision)="abrir_FichaTramite($event)"
        (llamarVerFlujo)="abrir_Workflow($event)"></app-tabla>
</div>