.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer {
    width: 250px;
    /* border-right: none; */
    background: #212529;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
}

.mat-drawer-container {
    /* height: calc(100vh- 65px); */
    height: calc(88vh - 65px);
}

.mat-list-item.active {
    background-color: #0096C7;
}

.mat-list-item,
.mat-subheader {
    color: white;
}