<app-navegacion></app-navegacion>

<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>TRAMITES: {{TitleTolbar}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>widgets</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)=" evento_cambiar_vista()">
          <mat-icon>dialpad</mat-icon>
          <span>{{tipo_vista_tramites?"No enviados":"Enviados"}}</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
    </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="over" class="panel">
        <mat-nav-list class="nav-list">
            <div class="nav-item" *ngIf="permitir_registro_tramites">
                <a class="nav-link" mat-list-item routerLink="administrar-tramite" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="nav-icon">folder_shared</mat-icon>
                    Tramites
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" mat-list-item routerLink="bandeja-entrada" routerLinkActive="active-list-item">
                    <mat-icon class="nav-icon">markunread</mat-icon>
                    <span [matBadge]="nroRecibidos" [matBadgeHidden]="nroRecibidos == 0" matBadgeOverlap="false" (click)="nroRecibidos=0">Bandeja de entrada</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" mat-list-item routerLink="bandeja-salida" routerLinkActive="active-list-item">
                    <mat-icon class="nav-icon">drafts</mat-icon>
                    Bandeja de salida
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>