<app-navegacion></app-navegacion>



<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>TRAMITES</span>
    <span class="example-spacer"></span>

    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item (click)="agregar_Funcionario()">
              <mat-icon>add_circle</mat-icon>
              Agregar institucion
        </button>
        <button mat-menu-item *ngIf="TipoTabla!=''" (click)="verHabilitados=!verHabilitados;ver_Habilitados()">
            <mat-icon>add_circle</mat-icon>
            {{tituloOpcionVista}}
      </button> -->
    </mat-menu>


</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">
        <mat-list role="list">
            <a mat-list-item (click)="Administrar_Tramites()">Administrar Tramites</a>
            <a mat-list-item (click)="Abrir_BandejaEntrada()">Bandeja de entrada</a>
            <a mat-list-item (click)="Abrir_BandejaSalida()">Bandeja de salida</a>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>